@font-face {
	font-family: "Main";
	src: url("./assets/fonts/Main-font.otf");
	unicode-range: U+0000-00FF, U+0400-04FF;
	font-weight: 400;
}

.footer {
	position: sticky;
	bottom: 0;
	background-color: transparent;
	text-align: right;
	margin-right: 10px;
}

.git-url {
	width: 55px;
	background: transparent;
}

.app {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 0px;
}

.button-search {
	padding-right: 15px;
	width: 150px;
	text-align: center;
	height: 37px;
	margin-left: 10px;
	font-family: "Main";
	color: white;
	background-color: coral;
	border-radius: 15px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
}

.button-search:hover {
	background-image: none;
	background-color: rgb(211, 97, 55);
	cursor: pointer;
}

.favorites-button {
	display: flex;
	justify-content: center;
	position: absolute;
	left: 0;
	top: 50px;
	align-items: center;
	text-align: center;
	font-size: 14px;
	color: white;
	font-size: 18px;
	letter-spacing: 1.2px;
	width: 25px;
	border-radius: 5px;
	height: 80px;
	writing-mode: vertical-lr;
	background-color: #3077be;
	border: 1px solid #fff;
}

.favorites-button:hover {
	transform: scale(1.2);
	left: 5px;
	cursor: none;
	transition: all 0.1ms;
	font-size: 18px;
}

h1 {
	font-family: "Main", sans-serif;
	font-size: 36px;
	color: rgb(12, 12, 12);
	padding: 2px;
	letter-spacing: 7px;
	position: relative;
}

.search-input {
	width: 320px;
	height: 30px;
	font-family: Tahoma, sans-serif;
	font-size: 14px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-color: #3077be;
	border-radius: 10px;
	text-transform: uppercase;
	font-weight: 500;
}

.search-input[type="text"]:focus {
	color: #212529;
	background-color: #e7e6e6;
	border-color: #696969;
	outline: 0;
}

.search-input::placeholder {
	color: #031221;
	opacity: 0.4;
	font-size: 15px;
	text-transform: none;
}

.wrapper {
	min-height: 100vh;
	margin-bottom: -50px; /* высота футера */
	background-image: url("../src/assets/app-bg.jpg");
}
